body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0
     QWvh;
     border-radius: 40px;
}

header {
    font-family: Arial, sans-serif;
    background-color: #888888;
    color: white;
    padding: 0em 0;
    text-align: center;
    width: 100%;
  
    border-radius: 10px 20px;
  }
  


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #364d96;
    text-decoration: none;
}

section {
    padding: 40px;
    margin: 40px 0;
}

.buttons {
    margin-top: 1000px;
}

button {
    background-color: #f3f3f3; /* Gelbe Farbe */
    color: rgb(10, 10, 10);
    padding: 20px 120px;
    border: hidden;
    size: 23cqh;
    cursor: pointer;
    margin: 30px;
    position: sticky;
    border-radius: 65px; /* Abrundung der Ecken */
    box-shadow: #e6c109 0px 7px 2px, #000 0px 8px 5px;
}

.closebtn {
    color: black;
} 

button:hover {
  opacity: 1;
}

.pe {
    background-color: #888888;
    color: white;
    padding: 1em 0;
    text-align: center;
    width: 100%;


}

.ka {
    background-color: #444444
    ;
    color: rgb(161, 138, 138);
    padding: 1em 0;
    text-align: center;
    width: 100%;




}


.über {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0
     QWvh;




}




.drücken {
    display: block;margin: top 1px; ; margin-right auto;
    color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
    float: left;
    background-color: rgb(112, 115, 117);
    margin-top: 10px
}
.button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .drücken {
    margin-right: 10px;
    margin-top: 10px;
  }
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
    
  .container {
    perspective: 800px;
    
  }
  .box {
    width: 200px;
    height: 200px;
    background-color: #646464;
    transform: rotateY(0deg);
    transform-origin: center;
    animation: rotate 9s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 149, 182);
    font-weight: bold;
    font-size: 40px;
    border-radius: 20%;
  }



  .container {
    text-align: center;
  }

  @keyframes color-change-animation {
    0% {
        color: #53a4da;
    }
    50% {
        color: #c51eaf;
    }
    100% {
        color: #2891a3;
    }
    
  }

  

  .animated-text {
    font-size: 36px;
    font-family: Arial, sans-serif;
    animation: color-change-animation 10s infinite;
  }


  .header {
    background-color: #94989c;
    color: #fff;
    padding: 20px;
    text-align: center;
  }


  .header {
    background-color: #444444;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .animated-text {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  

  